.card-container {
    position: relative;
    cursor: pointer;
    .img-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        transform: rotate(0);
        transition: transform 1.5s ease, box-shadow 0.3s ease;
        img {
            width: 100%;
        }
        .img-2 {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        span {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background-color: rgb(1, 1, 181);
            padding: 4px 14px;
            font-size: 14px;
            line-height: 16px;
            border-radius: 12px;
            color: #fff;
        }
    }
    .desc-container {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        gap: 12px;
        & > span {
            font-size: 14px;
            font-weight: 300;
            color: 18 18 18;
        }
        .prices-wrapper {
            display: flex;
            gap: 6px;
            .cost {
                color: var(--primary-text-color);
                text-decoration: line-through 0.8px var(--primary-text-color);
                margin-right: 4px;
            }
            .price {
                font-size: 16px;
            }
        }
    }
    &:hover {
        .img-2 {
            opacity: 1;
        }
        .img-wrapper {
            box-shadow: -10px -10px 10px -10px #0000000d,
                10px 10px 10px -10px #0000000d, 0 0 5px #fff0,
                0 20px 35px -20px #00000080;
            transform: rotate(1deg);
        }
        .desc-container > span {
            text-decoration: underline 0.8px rgb(18, 18, 18);
            text-underline-offset: 4px;
        }
    }
}
