@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Cabin:wght@400;500;600;700&family=Montserrat:wght@900&display=swap");

$mobile-width: 480px;
$tablet-width: 768px;
$small-desktop-width: 1000px;
$desktop-width: 1200px;
$primary-color: #121212bf;

:root {
    --primary-text-color: #121212bf;
    --primary-title-color: #121212;
    --primary-border-color: rgba(226, 226, 226, 0.7490196078);
    --primary-span-color: #919191;
    --grid-desktop-vertical-spacing: 8px;
    --grid-desktop-horizontal-spacing: 8px;
    --grid-mobile-vertical-spacing: 4px;
    --grid-mobile-horizontal-spacing: 4px;
    --grid-desktop-card-witdh: calc(
        calc(100% - 3 * var(--grid-desktop-horizontal-spacing)) / 4
    );
    --grid-tablet-card-witdh: calc(
        calc(100% - var(--grid-desktop-horizontal-spacing)) / 2
    );
    --grid-mobile-card-witdh: calc(
        calc(100% - var(--grid-mobile-horizontal-spacing)) / 2
    );
    --grid-desktop-blogcard-witdh: calc(
        calc(100% - var(--grid-desktop-horizontal-spacing)) / 2
    );
}

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin smallDesktop {
    @media (max-width: #{$small-desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

* {
    font-family: "Assistant", sans-serif;
    color: #121212;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    &::selection {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        width: 100%;
        padding: 20px 50px;
        @include tablet() {
            padding: 0 15px;
        }
        @include desktop() {
            width: 1200px;
        }
    }
}
a {
    color: #121212bf;
}
.input-border {
    border: 1px solid #000;
    outline: none;
    transition: all 0.1s ease-in;
    &:focus {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px,
            rgb(51, 51, 51) 0px 0px 0px 2px;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px,
                rgb(51, 51, 51) 0px 0px 0px 2px;
        }
    }
    &:hover {
        box-shadow: rgba(185, 185, 185, 0.16) 0px 1px 2px,
            rgb(85, 85, 85) 0px 0px 0px 2px;
        border-color: #999999;
    }
}

.div-input-border {
    transition: all 0.1s ease-in;
    &:has(> input:focus) {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px,
            rgb(51, 51, 51) 0px 0px 0px 2px;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px,
                rgb(51, 51, 51) 0px 0px 0px 2px;
        }
    }
    &:hover {
        box-shadow: rgba(185, 185, 185, 0.16) 0px 1px 2px,
            rgb(85, 85, 85) 0px 0px 0px 2px;
        border-color: #999999;
    }
}

#products {
    width: 100%;
    display: grid;
    grid-template-columns:
        var(--grid-desktop-card-witdh)
        var(--grid-desktop-card-witdh)
        var(--grid-desktop-card-witdh)
        var(--grid-desktop-card-witdh);
    gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
    @include smallDesktop {
        width: 100%;
        display: grid;
        grid-template-columns: var(--grid-tablet-card-witdh) var(
                --grid-tablet-card-witdh
            );
        gap: var(--grid-desktop-horizontal-spacing);
        row-gap: var(--grid-desktop-vertical-spacing);
    }
    @include mobile {
        width: 100%;
        display: grid;
        grid-template-columns: var(--grid-mobile-card-witdh) var(
                --grid-mobile-card-witdh
            );
        gap: var(--grid-mobile-horizontal-spacing);
        row-gap: var(--grid-mobile-vertical-spacing);
    }
}
.caption-wrapper {
    padding: 10px 20px;
    border: 1px solid #000;
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 10px 0 14px;
    cursor: pointer;
    transition: all 0.15s ease-in;
    span {
        font-size: 14px;
        width: 108px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    img {
        height: 6px;
        transition: all 0.15s ease-in;
    }
    &:hover {
        box-shadow: rgba(185, 185, 185, 0.16) 0px 1px 2px,
            rgb(85, 85, 85) 0px 0px 0px 2px;
        border-color: #999999;
    }
}
.selector-wrapper {
    height: 180px;
    padding: 16px;
    width: 200px;
    overflow-y: scroll;
    border: 1px solid #121212bf;
    color: #121212bf;
    position: absolute;
    left: 20px;
    flex-direction: column;
    background-color: #fff;
    display: none;
    opacity: 0;
    transition: all 0.15s ease-in;
    span {
        cursor: pointer;
        font-size: 15px;
        padding-bottom: 12px;
        &:hover {
            color: #000;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    .current {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
}
.selector-wrapper.selector {
    display: flex;
    opacity: 1;
    top: -148px;
    left: 0;
}
.caption-wrapper.selector {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 2px;
    img {
        transform: rotateX(180deg);
    }
}

.grid-3-item {
    display: grid;
    grid-template-columns:
        calc(calc(100% - var(--grid-desktop-vertical-spacing) * 2) / 3)
        calc(calc(100% - var(--grid-desktop-vertical-spacing) * 2) / 3)
        calc(calc(100% - var(--grid-desktop-vertical-spacing) * 2) / 3);
    grid-template-rows: auto auto auto;
    gap: var(--grid-desktop-vertical-spacing);
    row-gap: var(--grid-desktop-horizontal-spacing);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .grid-item-1-areas {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    .grid-item-2-areas {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }
    .grid-item-3-areas {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
}

.grid-2-item {
    display: grid;
    grid-template-columns:
        calc(calc(100% - var(--grid-desktop-vertical-spacing) * 2) / 3)
        calc(calc(100% - var(--grid-desktop-vertical-spacing) * 2) / 3)
        calc(calc(100% - var(--grid-desktop-vertical-spacing) * 2) / 3);
    grid-template-rows: auto auto auto;
    gap: var(--grid-desktop-vertical-spacing);
    row-gap: var(--grid-desktop-horizontal-spacing);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .grid-item-1-areas {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    .grid-item-2-areas {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
    }
}

.grid-2-item.grid-column-reverse {
    .grid-item-1-areas {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }
    .grid-item-2-areas {
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;
    }
}

.outline-btn-wrapper {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        color: #000;
        background-color: transparent;
        font-size: 16px;
        word-spacing: 2px;
        width: calc(100% - 4px);
        line-height: 16px;
        padding: 15px 20px;
        cursor: pointer;
        transition: all 0.2s linear;
        border: 1px solid #000;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px,
                rgb(51, 51, 51) 0px 0px 0px 2px;
        }
        a {
            color: #000;
        }
    }
}
.btn-wrapper {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        background-color: #000;
        color: #fff;
        font-size: 16px;
        word-spacing: 2px;
        width: calc(100% - 4px);
        line-height: 16px;
        padding: 15px 20px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
            width: 100%;
            padding: 16px 22px;
        }
        a {
            color: #fff;
        }
    }
}
