@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

$mobile-width: 480px;
$tablet-width: 768px;
$small-desktop-width: 1024px;
$desktop-width: 1200px;
$primary-color: #121212bf;

@mixin mobile {
    @media (max-width: #{$mobile -width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$small-desktop-width - 1px}) {
        @content;
    }
}

@mixin smallDesktop {
    @media (min-width: #{$small-desktop-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

* {
    font-family: "Assistant", sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    &::selection {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        width: 100%;
        padding: 20px 50px;
        @include desktop {
            width: 1200px;
        }
    }
}

.row-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .col-2 {
        width: 49%;
    }
}

.row-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .col-3 {
        width: 32%;
    }
}

.row-4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .col-4 {
        width: 24%;
    }
}

.input-border {
    transition: all 0.1s ease-in;
    &:focus {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px,
            rgb(51, 51, 51) 0px 0px 0px 2px;
    }
    &:hover {
        box-shadow: rgba(185, 185, 185, 0.16) 0px 1px 2px,
            rgb(85, 85, 85) 0px 0px 0px 2px;
        border-color: #999999;
    }
}

.div-input-border {
    transition: all 0.1s ease-in;
    &:has(> input:focus) {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px,
            rgb(51, 51, 51) 0px 0px 0px 2px;
    }
    &:hover {
        box-shadow: rgba(185, 185, 185, 0.16) 0px 1px 2px,
            rgb(85, 85, 85) 0px 0px 0px 2px;
        border-color: #999999;
    }
}
